.swiper-slide {
    text-align: center;
    font-size: 15px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    line-height: 40px;
    width: 130px;
    margin-right: 20px;
    padding: 0.5rem 1.2rem;
    border-radius: 4.2rem;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.videos-swiper {
    width: 100%;
    height: 80px;
}

.swiper-pagination {
    text-align: left;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet-active {
    background-color: #000;
}

.swiper-button-next, .swiper-button-prev {
    top: 43%;
    color: #000;
    background-color: #fff;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 35px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.lessons-video {
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    /* width: 100%; */
    min-width: 300px;
    max-width: 300px;
    width: 300px;
    margin-left: 20px;
    /* height: 250px; */
}

.nav-tabs .nav-item {
    width: 25%;
}

/* .nav-tabs .nav-item:hover {
    border-bottom: None;
    border-top: 2px solid #5d5386 !important;
} */

/* .app-card-list {
    display: block;
    width: 100%;
    float: right;
    margin: 0;
    min-height: 75vh;
    white-space: normal;
    overflow-x: scroll;
    margin-top: -70px;
}
.app-card-list::-webkit-scrollbar {
    display: none;
}
@media(min-width:768px) {
    .app-card-list {
        white-space: nowrap;
        margin-top: 0;
    }
    
}
.app-card-list .card {
    margin: 13px 19px;
    display: block;
    width: 25%;
    
}
.card .card-body {
    white-space: normal;
}

.designer-link {
    display: block;
    padding-top: 40px;
}
.card-header--title{
    text-align: right;
}

.card-header {
    min-height: 175px;
    max-height: 200px;
} */

.listOfCards {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-right: auto !important;
}

.card-header--title {
    text-align: right;
}

/* .listOfCards .card{
    margin: 10px;
    width: 26%;
} */

.listOfCards .card {
    margin: 7px 10px;
    display: block;
    min-width: 31%;
    max-width: 31%;
    /* min-height: max-content; */
}

.listOfCards .card .card-body {
    white-space: normal;
}

.listOfCards .card-header {
    min-height: 175px;
    max-height: 200px;
}
.categoryCard {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-right: auto !important;
}
.categoryCard .card {
    margin: 4px 7px;
    display: block;
    /* border-radius: 2.25rem; */
    /* min-width: max-content;
    max-width: max-content; */
    /* min-height: max-content; */
}
.categoryCard .card-header {
    /* min-height: 80px; */
    /* max-height: 80px; */
    border-bottom: none;
    background-color: unset;
}
.widget-header .user-image {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.07rem;
}

.widget-header .title {
    color: black;
    font-size: 1rem;
    font-weight: bold;
}
.widget-header .time {
    color: black;
    font-size: .85rem;
}
.widget-footer .meta li {
    display: inline-block;
    margin-right: 0.5rem;
}

.widget-footer .meta li:last-child {
    margin-right: 0;
}

.widget-footer .meta li a {
    color: #aea9c3;
}

.widget-footer .meta li a:hover {
    color: #5d5386;
}

.widget-footer .meta li i {
    font-size: 1.8rem;
    vertical-align: middle;
    margin-right: 0.3rem;
}

.widget-footer .meta li .numb {
    vertical-align: middle;
}

/* .users-like a {
    margin: 0 -1.6rem 0 0;
    transition: all 0.4s ease;
    margin-left: auto !important;
}

.users-like a.view-more {
    background: #5d5386;
    color: #fff;
    width: 40px;
    height: 40px;
    border: 0.25rem solid #fff;
    border-radius: 50%;
    vertical-align: middle;
    font-size: 0.85rem;
    text-align: center;
    line-height: 30px;
    margin-right: 0;
} */
.owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }
  
  .owl-nav i {
    font-size: 52px;
  }
  
  .owl-nav .owl-prev {
    left: -30px;
  }
  
  .owl-nav .owl-next {
    right: -30px;
  }

  .backgroud-active-category {
      background: linear-gradient(to right, #7E47AF 10%, #1A1F63 100%) !important;
      
  }
  .categoryCard .backgroud-active-category .category {
    color: white !important;
  }