.rbc-event,
.rbc-day-slot .rbc-background-event {
  background: linear-gradient(to right, #7e47af 10%, #1a1f63 100%) !important;
}

.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
.ReactTags__tagInput {
  /* width: 200px; */
  border-radius: 2px;
  display: inline-block;
  
}
.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  /* font-size: 12px; */
  width: 30rem;
  border: 1px solid #eee;
  
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: linear-gradient(to right, #7E47AF 10%, #1A1F63 100%);
  color: white;
  /* font-size: 12px; */
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-radius: 10px;
}
.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
.ReactTags__suggestions {
  position: absolute;
}
.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}
.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

.ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: white;
}

.quizzes-list,
.assignments-list,
.contents-list {
    padding: 0;
    list-style: none;
}

.quizzes-list .quiz-list,
.assignments-list .assignment-list,
.contents-list .content-list {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    text-align: center;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
    /* margin-bottom: 20px; */
    font-size: 13px;
    display: inline-block;
    color: black;
    margin-right: 5px;
}

.quizzes-list .quiz-list:hover,
.assignments-list .assignment-list:hover,
.contents-list .content-list:hover {
    background: linear-gradient(to right, #7E47AF 10%, #1A1F63 100%);
    color: #fff;
}

.quizzes-list .quiz-list.add-quiz,
.assignments-list .assignment-list.add-assignment,
.contents-list .content-list.add-content {
    color: gray;
    position: relative;
}

.quizzes-list .quiz-list.add-quiz:hover,
.assignments-list .assignment-list.add-assignment:hover,
.contents-list .content-list.add-content:hover {
    color: #fff;
}

/* .contents-list a {
    color: black;
}

.quizzes-list .quiz-list {
    color: black;
} */

.quizzes-list a:focus,
.assignments-list a:focus,
.contents-list a:focus {
    color: black;
}

.dot {
  height: 40px;
  width: 40px;
  background: linear-gradient(to right, #7E47AF 10%, #1A1F63 100%);
  border-radius: 50%;
  display: inline-block;
  color: white;
  padding: 7px;
  /* text-align: center; */
}