.splash-screen-container {
    justify-content: center;
    align-items: center;
    position: relative;
    /* display: flex;
    height: 100%; */
}

/* .logo-image {
    top: 0, 
    bottom: 0, 
    right: 0, left: 0, position: 'fixed'
} */